body {
    background-image: url('europeganz.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#shower{
    position: static;
    height: 25px;
    width: 25px;
    margin-top: 24.5%;
    margin-left: 27%;
}

#landDiv{
    position: static;
    margin-top: 2%;
    margin-left: 1%;
}

#land{
    width: 31%;

}

#ausgabeDiv {
    position: static;
    margin-top: 2%;
    margin-left: 1.5%;
    width: 75px;
}

#ausgabe {
    background-color: #EDEDE5;
    color: black;
    border: 1px solid black;
    padding: 2px 2px;
    cursor: pointer;
}

#scoreDiv{
    position: static;
    margin-top: 1%;
    margin-left: 14%;
    font-size: 150%;
    
}

#menuDiv{
    position: static;
    margin-top: 125%;
    margin-left: 37.5%;
    width: 75px;
    height: 41px;
}

#menu{
    background-color: transparent;
    border-color: transparent;
    width: 75px;
    height: 41px;
}



